In [3]:
import pandas as pd

In [12]:
data_path = './data/data.csv'

df = pd.read_csv(data_path, encoding='iso-8859-1')

In [15]:
df.head()

,Company_Name,Dependent-Company Status,year of founding,Age of company in years,Internet Activity Score,Short Description of company profile,Industry of company,Focus functions of company,Investors,Employee Count,...,Percent_skill_Data Science,Percent_skill_Business Strategy,Percent_skill_Product Management,Percent_skill_Sales,Percent_skill_Domain,Percent_skill_Law,Percent_skill_Consulting,Percent_skill_Finance,Percent_skill_Investment,Renown score
0,Company1,Success,No Info,No Info,-1.0,Video distribution,NaN,operation,KPCB Holdings|Draper Fisher Jurvetson (DFJ)|Kl...,3.0,...,0,0,0,0,0,0,0,0,0,0
1,Company2,Success,2011,3,125.0,NaN,Market Research|Marketing|Crowdfunding,"Marketing, sales",NaN,NaN,...,8.823529412,21.76470588,10.88235294,2.941176471,0,0,0,0,0,8
2,Company3,Success,2011,3,455.0,Event Data Analytics API,Analytics|Cloud Computing|Software Development,operations,TechStars|Streamlined Ventures|Amplify Partner...,14.0,...,3.846153846,17.09401709,9.401709402,0,2.777777778,0,0,0,0,9
3,Company4,Success,2009,5,-99.0,The most advanced analytics for mobile,Mobile|Analytics,Marketing & Sales,Michael Birch|Max Levchin|Sequoia Capital|Keit...,45.0,...,0,0,0,0,0,0,0,0,0,5
4,Company5,Success,2010,4,496.0,The Location-Based Marketing Platform,Analytics|Marketing|Enterprise Software,Marketing & Sales,DFJ Frontier|Draper Nexus Ventures|Gil Elbaz|A...,39.0,...,0,0,0,0,0,0,0,0,0,6

In [16]:
df.describe()

,Internet Activity Score,Employee Count,Employees count MoM change,Last Funding Amount,Number of Co-founders,Number of of advisors,Team size Senior leadership,Industry trend in investing
count,407.000000,306.000000,267.000000,3.120000e+02,472.000000,472.000000,472.000000,390.000000
mean,114.159705,31.408497,-1.299625,6.379489e+06,1.868644,1.016949,3.730932,2.889744
std,225.651419,62.673600,23.967085,9.901622e+06,1.143481,2.014736,2.516539,0.845765
min,-725.000000,0.000000,-100.000000,1.000000e+04,0.000000,0.000000,1.000000,0.000000
25%,-3.500000,4.250000,0.000000,7.500000e+05,1.000000,0.000000,2.000000,2.000000
50%,60.000000,13.000000,0.000000,2.800000e+06,2.000000,0.000000,3.000000,3.000000
75%,216.000000,31.000000,6.000000,7.850000e+06,2.250000,1.000000,5.000000,3.000000
max,1535.000000,594.000000,50.000000,7.700000e+07,7.000000,13.000000,24.000000,5.000000

In [17]:
df.columns

Index(['Company_Name', 'Dependent-Company Status', 'year of founding',
       'Age of company in years', 'Internet Activity Score',
       'Short Description of company profile', 'Industry of company',
       'Focus functions of company', 'Investors', 'Employee Count',
       ...
       'Percent_skill_Data Science', 'Percent_skill_Business Strategy',
       'Percent_skill_Product Management', 'Percent_skill_Sales',
       'Percent_skill_Domain', 'Percent_skill_Law', 'Percent_skill_Consulting',
       'Percent_skill_Finance', 'Percent_skill_Investment', 'Renown score'],
      dtype='object', length=116)

In [21]:
missing_values = df.isna().sum()
columns_with_nan = missing_values[missing_values > 0]
columns_with_nan

Age of company in years                                                                                                  44
Internet Activity Score                                                                                                  65
Short Description of company profile                                                                                    149
Industry of company                                                                                                     124
Focus functions of company                                                                                               30
Investors                                                                                                               140
Employee Count                                                                                                          166
Employees count MoM change                                                                                              205
Has the team size grown                                                                                                  50
Est. Founding Date                                                                                                      109
Last Funding Date                                                                                                       122
Last Funding Amount                                                                                                     160
Country of company                                                                                                       71
Continent of company                                                                                                     71
Number of  of Partners of company                                                                                       284
Top forums like 'Tech crunch' or 'Venture beat' talking about the company/model - How much is it being talked about?     43
Specialization of highest education                                                                                      97
Degree from a Tier 1 or Tier 2 university?                                                                              144
Experience in selling and building products                                                                              34
Top management similarity                                                                                               199
Number of  of Research publications                                                                                     250
Industry trend in investing                                                                                              82
Gartner hype cycle stage                                                                                                172
Time to maturity of technology (in years)                                                                               172
dtype: int64

In [24]:
target_variable = 'Dependent-Company Status'
X = df.drop(target_variable, axis=1)
y = df[target_variable]

In [27]:
X_PATH = "./data/Train.csv"
y_PATH = "./data/y.csv"

X.to_csv(X_PATH, index=False)
y.to_csv(y_PATH, index=False)